<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-goodreads-heading" jhiTranslate="bookshareApp.goodreads.home.createOrEditLabel">Create or edit a Goodreads</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookshareApp.goodreads.bookId" for="field_bookId">Book Id</label>
                    <input type="number" class="form-control" name="bookId" id="field_bookId"
                           formControlName="bookId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookshareApp.goodreads.gRBookId" for="field_gRBookId">G R Book Id</label>
                    <input type="number" class="form-control" name="gRBookId" id="field_gRBookId"
                           formControlName="gRBookId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookshareApp.goodreads.ratingCount" for="field_ratingCount">Rating Count</label>
                    <input type="number" class="form-control" name="ratingCount" id="field_ratingCount"
                           formControlName="ratingCount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookshareApp.goodreads.textReviewsCount" for="field_textReviewsCount">Text Reviews Count</label>
                    <input type="number" class="form-control" name="textReviewsCount" id="field_textReviewsCount"
                           formControlName="textReviewsCount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookshareApp.goodreads.averageRating" for="field_averageRating">Average Rating</label>
                    <input type="number" class="form-control" name="averageRating" id="field_averageRating"
                           formControlName="averageRating"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookshareApp.goodreads.lastUpdated" for="field_lastUpdated">Last Updated</label>
                    <div class="input-group">
                        <input id="field_lastUpdated" type="text" class="form-control" name="lastUpdated" ngbDatepicker  #lastUpdatedDp="ngbDatepicker" formControlName="lastUpdated"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lastUpdatedDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
